@model IEnumerable<Models.Entities.Group>
    <div class="col-md-12">
        <select size="20" id="MyGroupList" style="width:100%;font-size:16px;color:darkblue" onchange="SelectGroup()">
            @foreach (var item in Model)
            {
                <option value=@item.Id img=@(item.Image==null ? "" : item.Image)>@item.Name</option>
            }
        </select>
    </div>