@model ViewModels.PostsViewModel
@using MvcPager
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "نشانه گذاری ها";
}
@section styles{
}
@if (Model.TotalItemCount > 12)
{
    <div class="col-lg-12">
        <div class="card-box">
            <fieldset>
                @Html.Pager(12, Model.CurrentPage, Model.TotalItemCount, new { search = ViewBag.Srch })
            </fieldset>
        </div>
    </div>
}
@foreach (var item in Model.postId)
{
    @Html.Action("_SinglePost", "Post", new { id = item })
}
