@model IEnumerable<LearnBug.Models.DomainModels.Content>

@{
    ViewBag.Title = "myBookMarks";
}
<div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="/Bookmark/MyBookMarks">نشانه گذاری شده ها</a></div>
            <div class="panel-body">
                <div id="w1" class="grid-view">
                    <!-- -->
                    @foreach (var item in Model)
                    {
                        <table class="table table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <td>
                                        <div>
                                            <span class="last-visitors-item">
                                                <span class="fa fa-tablet"></span>@item.Subject
                                            </span>
                                            <span class="last-visitors-item">
                                                <span class="fa fa-cubes"></span>@item.Group.Name
                                            </span>
                                            <span class="last-visitors-item">
                                                <span class="fa fa-clock-o"></span>@item.Datetime
                                            </span>
                                            <span class="last-visitors-item">
                                                <span id="" class="fa fa-bookmark"></span>@item.Bookmarks.FirstOrDefault(p => p.User.Username == User.Identity.Name).Datetime.ToPersianDate()
                                            </span>
                                        </div>
                                        <div class="clear"></div>
                                        <span>مشاهده مطلب</span>: <a href="/Content/ViewContent/?id=@item.Id">View</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                    <!-- -->
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @*<script>
        function AddBookMark() {
            var w = document.getElementById("BtnBookmark").classList['value']
            var typ = true
            if (w == "fa fa-bookmark") {
                document.getElementById("BtnBookmark").classList['value'] = "fa fa-bookmark-o"
                typ = false
            } else {
                document.getElementById("BtnBookmark").classList['value'] = "fa fa-bookmark"
                typ = true
            }
            $.ajax({
                url: "/Bookmark/AddBookmark",
                data: { ContentId: $("#Id").val(), type: typ },
                type: "Post",
                datatype: "Json",
                error: function () { alert("خظا!") }
            })
        }
    </script>*@

}