@model IEnumerable<Models.Entities.Transaction>
<div>
    <center><b style="font-size:18px;" id="modal-title">تراکنش های من</b></center>
</div>
<br />
<table class="table table-hover table-responsive">
    <tr>
        <th>#</th>
        <th>تراکنش</th>
        <th>تاریخ</th>
        <th>مبلغ</th>
    </tr>
    @{int a = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td>@(a++) </td>
            <td>@(item.Charge ? "+" : "-")</td>
            <td>@item.InsertDateTime.ToPersianDate()</td>
            <td>@item.Price.ToPrice()</td>
        </tr>
    }
</table>
@if (User.IsInRole("Admin") || User.IsInRole("Teacher")){
<div class="text-center">
    <a href="#custom-modal" class="btn btn-success waves-effect waves-light m-r-5 m-b-10" data-animation="blur" data-plugin="custommodal"
       data-overlaySpeed="100" data-overlayColor="#36404a">
        برداشت از کیف پول
    </a>
</div>
}