@model IEnumerable<Models.Entities.Transaction>
<div>
    <center><b style="font-size:18px;" id="modal-title">تراکنش های من</b></center>
</div>

<hr />
<table class="table table-hover table-responsive">
    <tr>
        <th>#</th>
        <th>تراکنش</th>
        <th>تاریخ</th>
        <th>مبلغ</th>
    </tr>
    @{int a = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td>@(a++) </td>
            <td>@(item.Charge ? "+" : "-")</td>
            <td>@item.InsertDateTime.ToPersianDate()</td>
            <td>@item.Price.ToPrice()</td>
        </tr>
    }
</table>