
<div>
    <center><b style="font-size:18px;" id="modal-title">تغییر رمز عبور کاربر</b></center>
</div>

<hr />
<div class="">

    <div class="col-md-12">
        <center>
            <h2 id="msg" style="color:red;"></h2>
        </center>
    </div>
    <br />
    <br />

    <div class="col-md-12">
        <div class=" form-group col-lg-2 pull-right"> : رمز عبور فعلی </div><div class="form-group col-lg-3 pull-right"> <input class="form-control" type="password" name="oldPassword" id="oldPassword" /> </div>
        <div class="clear"></div>
        <div class="form-group col-lg-2 pull-right">: رمز عبورجدید </div><div class="form-group col-lg-3 pull-right"> <input class="form-control" type="password" name="newPassword" id="newPassword" /> </div>
        <div class="clear"></div>
        <div class="form-group col-lg-2 pull-right"> : تکرار رمز</div><div class="form-group col-lg-3 pull-right"> <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" /> </div>
    </div>
</div>
<div>
    <center>
        <input type="submit" class="btn btn-success" onclick="EditPassword()" value="تغییر رمز" />
        <input type="submit" class="btn btn-danger" onclick="document.getElementById('bodypartial').innerHTML=''" value="انصراف" />
    </center>

</div>
