<div>
    <center><b style="font-size:18px;" id="modal-title">تغییر عکس پروفایل</b></center>
</div>

<hr />
<div  class="">
    <center>
        <img style="width:200px;height:200px;border:solid 1px silver" src="@ViewBag.pic" id="upload-Preview" />
        <img style="display:none"  id="original-Img" />

        <br />
        <br />
        <br />
        <input id="upload-Image" type="file" onchange="loadImageFile();" style="width:200px"/>
    </center>
</div>
<hr />
<div>
    <center>
        <input type="submit" class="btn btn-success" onclick="changeProfilePicture('update')" value="تغییر عکس" />
        <input type="submit" class="btn btn-warning" onclick="changeProfilePicture('delete')" value="حذف عکس" />
        <button type="button" class="btn btn-danger"  onclick="document.getElementById('bodypartial').innerHTML=''">انصراف</button>
    </center>
     
</div>
