
<div>
    <center><b style="font-size:18px;" id="modal-title">تغییر رمز عبور کاربر</b></center>
</div>

<hr />
<div class="col-md-12 form-group text-center">
    <h2 id="msg" class="text-danger"></h2>
</div>

<div class="col-md-9 form-group">
    <div class="col-md-9">
        <div class="col-md-3">
            @Html.Label("رمز عبور فعلی :")
        </div>
        <div class="col-md-9">
            <input class="form-control" type="password" name="oldPassword" id="oldPassword" />
        </div>
    </div>
</div>
<div class="col-md-9 form-group">
    <div class="col-md-9">
        <div class="col-md-3">
           @Html.Label("  رمز عبورجدید : ")    
        </div>
        <div class="col-md-9">
            <input class="form-control" type="password" name="newPassword" id="newPassword" />
        </div>
    </div>
</div>
<div class="col-md-9 form-group">
    <div class="col-md-9">
        <div class="col-md-3">
            @Html.Label("تکرار رمز :")
        </div>
        <div class="col-md-9">
            <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" />
        </div>
    </div>
</div>
<div class="col-md-9 form-group">
    <div class="col-md-9">
        <div class="col-md-3">

        </div>
        <div class="col-md-9">
            <input type="submit" class="btn btn-success w-md" onclick="EditPassword()" value="تغییر رمز" />
            <input type="submit" class="btn btn-danger w-md" onclick="document.getElementById('bodypartial').innerHTML=''" value="انصراف" />

        </div>
    </div>
</div>

