@model Models.Entities.User
<div class="user-img">
    <a href="@Url.Action("Profile","User",new {id=Model.Username })">
        <img src="@Model.ImgProfile()" alt="user-img" title="Mat Helme" class="img-thumbnail img-responsive">
    </a>
</div>
<h5><a href="@Url.Action("Profile","User",new {id=Model.Username })">@User.Identity.Name</a> </h5>

