
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
        ViewBag.Title = "داشبورد";

}
<div class="col-lg-12">
    <div class="card-box">
        <fieldset>
            Wellcome
        </fieldset>
    </div>
</div>