@model LearnBug.ViewModels.ContentViewModel
@using MvcPager
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "خانه";
}
@section styles{
}
<div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">خانه</div>
            <div class="panel-body">
                <div class="grid-view">
                    <div class="block-pagination" style="direction: ltr; ">
                        @Html.Pager(12, Model.CurrentPage, Model.TotalItemCount, new { search = ViewBag.Srch })
                    </div>
                    <!-- -->
                    <div>
                        @Html.Partial(Url.Content("~/Views/Content/_ContentList.cshtml"), Model.Contents.AsQueryable())
                    </div>
                    <!-- -->
                </div>
                <!-- -->
            </div>
        </div>
    </div>
</div>
