@model IEnumerable<LearnBug.Models.DomainModels.Content>
@using MvcPager
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
@section styles{
}
<div>
    @Html.Hidden(name: "loc",value: "/Home/Index/?srch=")
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">آخرین مطالب</div>
            <div class="panel-body last-visited">
                <!-- -->
                <div>
                    @*<div class="block-pagination" style="direction: ltr; ">
                            @Html.Pager(12, ViewBag.CurrentPage, ViewBag.TotalItemCount)
                        </div>*@
                    <!-- -->
                    <div>
                        @Html.Partial(Url.Content("~/Views/Content/_ContentList.cshtml"), @Model.AsQueryable())
                    </div>
                    <!-- -->
                </div>
                <!-- -->
            </div>
        </div>
    </div>
</div>
