<style>
    #map {
        min-height: 350px;
        height: 100%;
        width: 100%;
        z-index: 0;
        overflow: hidden;
    }
</style>
@Html.Hidden("Lat")
@Html.Hidden("Lng")
<div>
    <div id="map"></div>
</div>
<script src="~/Content/leaflet/leaflet.js"></script>
<link href="~/Content/leaflet/leaflet.css" rel="stylesheet" />
<script>

    var Lat = 35.7164130173296;
    var Lng = 51.321773529052734;
    var map = L.map('map').setView([Lat, Lng], 12);


    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    }).addTo(map);
    var marker;
    map.on('click', function (e) {
        if (marker)

            map.removeLayer(marker);
        document.getElementById('Lat').value = e.latlng.lat
        document.getElementById('Lng').value = e.latlng.lng
        marker = L.marker(e.latlng).addTo(map);
    });
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.watchPosition(showPosition, errorFunction);
        } else {
            alert('خطا در بارگیری مکان !')
        }
    }

    function showPosition(position) {
        var lat = position.coords.latitude
        var lng = position.coords.longitude
        map.removeLayer(marker);
        map.flyTo([lat, lng], 18)
        marker = L.marker([lat, lng]).addTo(map)
        document.getElementById('Lat').value = lat
        document.getElementById('Lng').value = lng
    }

    function errorFunction(ex) {
        console.log(ex.message)        
    }


</script>