@model IEnumerable<LearnBug.Models.DomainModels.User>
@{
    ViewBag.Title = "پیام های من";
}
<link href="~/Content/BU/Follows.css" rel="stylesheet" />

<div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="/Message/myMessage">پیام های من</a></div>
            <div class="panel-body">
                <div class="grid-view">
                    <!-- -->
                    <div class="panel-body">
                        <div id="w1" class="grid-view">
                            <!-- -->
                            @foreach (var item in Model.Where(p=>p.Username!=User.Identity.Name))
                            {

                            <div class="Follow-Body">
                                <img class="Follow-img" src="@item.ImgProfile()" />
                                <p class="Follow-Uname">@item.Username</p>
                                @if (item.Messages.Count(p => p.Status != 2 && p.User1.Username == User.Identity.Name)>0)
                                {
                                    <b style="color:white;background-color:green;padding:3px;border-radius:100%;position:absolute;z-index:1;left:0px;font-size:18px;">
                                        @item.Messages.Count(p => p.Status != 2 && p.User1.Username == User.Identity.Name)
                                    </b>

                                }
                                <div class="Follow-tools">
                                    <a style="color:darkblue;cursor:pointer" data-toggle="modal" data-target="#myModal" onclick="renderPartialViewMessage(@item.Id);"><span style="color:greenyellow" class="fa fa-eye">Visit</span></a>
                                    <br />
                                    <br />
                                    <span class="fa fa-remove" style="color:red">remove</span>
                                </div>
                            </div>
                            }
                            <!-- -->
                        </div>
                    </div>
                    <!-- -->
                </div>
            </div>
        </div>
    </div>
</div>






<div class="modal fade" id="myModal"></div>




@section scripts{
    <script src="~/Scripts/Bootstrap4/popper.min.js"></script>

    <script>
        function renderPartialViewMessage(id) {
            $.ajax({
                url: "/message/_viewfullMessage",
                data: { id: id },
                type: "post",
                datatype: "json",
                success: function (resulet) {
                    if (resulet) {
                        $('#myModal').html(resulet)
                    }
                }
            })
        }

        function SendMessage(id) {
            $.ajax({
                url: "/Message/SendMessage",
                data: { text: document.getElementById("text").value, to: id },
                type: "post",
                datatype: "json"
            })
            document.getElementById("refresh").click()
        }
    </script>
}

