
@{
    ViewBag.Title = "";
}
<div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="/Message/myMessage">پیام های من</a></div>
            <div class="panel-body">
                <div id="w1" class="grid-view">
                    <!-- -->
                    <div class="col-md-2" style="float:right;">
                        <button onclick="renderPartialViewMessage('To');" id="tabr" class="btn btn-default" style="width:100%;">صندوق ورودی</button>
                        <br />
                        <button onclick="renderPartialViewMessage('From');" id="tabs" class="btn btn-default" style="width:100%;">صندوق ارسالی</button>
                    </div>
                    <div class="col-md-10" style="float:right;" id="body">
                        @Html.Action("_viewfullMessage")
                    </div>
                    <!-- -->
                </div>
            </div>
        </div>
    </div>
</div>






<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content" style="padding:10px;">

            <div>
                <b style="font-size:18px;float:left;" id="modal-title"></b>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <hr />
            <div id="modal-body"></div>

            <hr />
            <div id="modal-footer">
                <table width="100%">
                    <tr>
                        <td>
                            <span id="viewmsgdt"></span>
                        </td>
                        <td>
                            <span id="viewmsghrt"></span>
                        </td>
                        <td></td>
                    </tr>
                </table>

            </div>

        </div>
    </div>
</div>




@section scripts{
    <script src="~/Scripts/Bootstrap4/popper.min.js"></script>

    <script>
        setInterval( "renderPartialViewMessage('')", 7000);
        function renderPartialViewMessage(Typ) {
            if (Typ=="") {
                Typ = $("#inputTyp").val();
            }
            $.ajax({
                url: "/message/_viewfullMessage",
                data: { type:Typ},
                type: "post",
                datatype: "json",
                success: function (resulet) {
                    if (resulet) {
                        $('#body').html(resulet);
                    }
                }
            });
        }
        function viewmmessage(messageid) {
            $.ajax({
                url: "/message/viewmessage",
                data: { id: messageid },
                type: "post",
                datatype: "json",
                success: function (resulet) {
                    if (resulet.success) {
                        $('#modal-title').html(resulet.username);
                        $('#modal-body').html(resulet.text);
                        $('#viewmsgdt').html(resulet.datetime);
                    }
                }
            });
        }
    </script>
}

