@model IEnumerable<LearnBug.Models.DomainModels.User>
@{
    ViewBag.Title = "";
}
<div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="/Message/myMessage">پیام های من</a></div>
            <div class="panel-body">
                <div class="grid-view">
                    <!-- -->
                    <div class="panel-body">
                        <div id="w1" class="grid-view">
                            <!-- -->
                            @foreach (var item in Model)
                            {

                                <table class="table table-striped table-bordered"> 
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div>
                                                    <span class="last-visitors-item">
                                                        <span class="fa fa-clock-o"></span>@item.Username
                                                    </span>
                                                    <span class="last-visitors-item">
                                                        <span class="fa fa-clock-o"></span>
                                                        @{
                                                            int a = Convert.ToInt32(item.Messages.LastOrDefault().Status);
                                                            if (a == 0)
                                                            {<span style="color:silver;"><b>✓</b></span>}
                                                            if (a == 1)
                                                            {<span style="color:silver;"><b>✓✓</b></span>}
                                                            if (a == 2)
                                                            {<span style="color:darkblue;"><b>✓✓</b></span>}
                                                        }

                                                    </span>
                                                    <span class="last-visitors-item">
                                                        <span class="fa fa-clock-o"></span>@item.Messages.LastOrDefault().Datetime.ToPersianDate()
                                                    </span>
                                                    <span class="last-visitors-item">
                                                        <a style="color:darkblue;cursor:pointer" data-toggle="modal" data-target="#myModal" onclick="renderPartialViewMessage(@item.Id);">visit</a>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            }
                            <!-- -->
                        </div>
                    </div>
                    <!-- -->
                </div>
            </div>
        </div>
    </div>
</div>






<div class="modal fade" id="myModal"></div>




@section scripts{
    <script src="~/Scripts/Bootstrap4/popper.min.js"></script>

    <script>
        setInterval( "aa('')", 1000);
        function renderPartialViewMessage(id) {
            $.ajax({
                url: "/message/_viewfullMessage",
                data: { id: id },
                type: "post",
                datatype: "json",
                success: function (resulet) {
                    if (resulet) {
                        $('#myModal').html(resulet);

                    }
                }
            });
        } 
        function aa() {
            var t = $("#myModal").css('display');
            if (t != 'none') {
                var s = $("#IdForuser").val();                
                renderPartialViewMessage(s);
            }
        }
                //function viewmmessage(messageid) {
                //    $.ajax({
                //        url: "/message/viewmessage",
                //        data: { id: messageid },
                //        type: "post",
                //        datatype: "json",
                //        success: function (resulet) {
                //            if (resulet.success) {
                //                $('#modal-title').html(resulet.username);
                //                $('#modal-body').html(resulet.text);
                //                $('#viewmsgdt').html(resulet.datetime);
                //            }
                //        }
                //    });
                //}
    </script>
}

