@model LearnBug.ViewModels.ContentViewModel
@using MvcPager
@{
    ViewBag.Title = "مطالب دوستان";
}
<div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">مطالب دوستان</div>
            <div class="panel-body">
                <div class="grid-view">
                    <div class="block-pagination" style="direction: ltr; ">
                        @Html.Pager(12, Model.CurrentPage, @Model.TotalItemCount)
                    </div>
                    <!-- -->
                    @Html.Partial(Url.Content("~/Views/Content/_ContentList.cshtml"), @Model.Contents.AsQueryable())
                    <!-- -->
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
}