@model IEnumerable<LearnBug.Models.DomainModels.Content>

@{
    ViewBag.Title = "مطالب من";
}
<div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="/Content/myContents">مطالب من</a></div>
            <div class="panel-body">
                <div id="w1" class="grid-view">
                    <!-- -->
                    @Html.Partial(Url.Content("~/Views/Content/_ContentList.cshtml"), @Model.AsQueryable())
                    <!-- -->
                </div>
            </div>
        </div>
    </div>
</div>
