@model IEnumerable<LearnBug.Models.DomainModels.Setting>

@{
    ViewBag.Title = "AddGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="/Home/AdminPanel">پنل مدیریتی</a>/<a href="/Setting/Index">تنظیمات</a></div>
            <div class="panel-body">
                <!-- -->
                <!-- -->
                <input type="submit" name="AddValue" value="AddValue" class="btn btn-info" />
                <table class="table table-hover table-bordered table-striped">
                    <tr>
                        <th width="50px">#</hr>
                        <th width="200px">name</hr>
                        <th>values</hr>
                        <th></hr>
                    </tr>
                    @{int a = 0;}
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(a++)</td>
                            <td>@item.Name</td>
                            <td>@item.Value</td>
                            <td>
                                @if (!item.Single)
                                {<a href="#">Delete</a><span>_</span>}
                                <a href="#">Edit</a>
                            </td>
                        </tr>
                    }
                </table>
                <!-- -->
                <!-- -->
            </div>
        </div>
    </div>


</div>



@section Scripts {
}
