@{
    ViewBag.Title = "آپلود لوگو";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="/Home/AdminPanel">پنل مدیریتی</a> / <a href="/Setting/UploadLogo">آپلود لوگو</a></div>
            <div class="panel-body">
                <!-- -->
                <!-- -->
                <div class="col-md-12">
                    <center>
                        <img id="LogoImage" src="~/Files/Picture/Logo/Logo.png" width="300px" />
                    </center>
                </div>
                <div class="clear"></div>
                <div>
                    <center>
                        <button class="btn btn-success" onclick="setLogo()">لوگو اعمال شود</button>
                    </center>
                </div>

                <div class="clear"></div>
                <center>
                    @using (Html.BeginForm("UploadLogo", "Setting", FormMethod.Post, new {id="frm", enctype = "multipart/form-data" }))
                    {
                        <input name="File" type="file" class="hidden" id="FileUpload" onchange="document.getElementById('frm').submit()" />
                        <button class="hidden" id="sub"></button>
                    }

                    <div style="width:fit-content">
                        <button class="itemlogo" onclick="document.getElementById('FileUpload').click()">+</button>
                        @{
                            foreach (string filename in Directory.GetFiles(Server.MapPath("~") + @"Files\Picture\Logo", "*.*"))
                            {

                                string a = filename.Replace(Server.MapPath("~"), @"\");
                                string name = a.Substring(a.LastIndexOf(@"\") + 1);

                                <div class="itemlogo">
                                    <img src="@a" style="width:100%;height:100%;" onclick="viewimage(this)" />
                                    @if (name != "Logo.png")
                                    {
                                        <span class="fa fa-remove itemDelete" title="حذف لوگو" onclick="deleteLogo('@name',this)"></span>
                                    }
                                </div>
                            }

                        }
                    </div>
                </center>

                <!-- -->
                <!-- -->
            </div>
        </div>
    </div>


</div>
@section styles{
    <style>
        .itemlogo {
            width: 100px;
            height: 100px;
            float: right;
            margin: 10px;
            border: 1px solid silver;
            border-radius: 5px;
            font-size: 100px;
            font: bold;
            color: deepskyblue;
            transition: 0.5s;
            cursor: pointer;
            position: relative;
        }

            .itemlogo:hover {
                transform: scale(1.2);
            }

                .itemlogo:hover .itemDelete {
                    transform: scale(1);
                }

                    .itemlogo:hover .itemDelete:hover {
                        transform: scale(1) rotate(360deg);
                        color:black;
                    }

        .itemDelete {
            position: absolute;
            bottom: 0px;
            left: 0px;
            font-size: xx-large;
            z-index: 1;
            color: red;
            transition: 0.5s;
            transform: scale(0);
        }
    </style>
}
@section scripts{
    <script>
        function viewimage(me) {
            document.getElementById("LogoImage").src = me.src

        }
        function setLogo() {
            var temp = document.getElementById("LogoImage").src
            var filename = temp.substring(temp.lastIndexOf('/') + 1)
            if (filename != 'Logo.png') {
                if (confirm("لوگو سایت را تغیر میدهید؟")) {
                    $.ajax({
                        url: "/Setting/SetLogo",
                        data: { name: filename },
                        type: "Post"
                    })
                }
            }
            else {
                alert('لوگو در حال حاضر فعال است !')
            }

        }

        function deleteLogo(name, me) {
            if (name != 'Logo.png') {
                if (confirm("لوگو حذف شود؟")) {
                    $.ajax({
                        url: "/Setting/DeleteLogo",
                        data: { name: name },
                        type: "Post"
                    })
                    me.parentElement.hidden = true
                }

            }
        }

    </script>
}
