@{
    ViewBag.Title = "آپلود لوگو";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="/Home/AdminPanel">پنل مدیریتی</a> / <a href="/Setting/UploadLogo">آپلود لوگو</a></div>
            <div class="panel-body">
                <!-- -->
                <!-- -->
                <div class="col-md-12">
                    <center>
                        <img id="LogoImage" src="~/Files/Picture/Logo/Logo.png" width="300px" />
                    </center>
                </div>
                <div class="clear"></div>
                <div>
                    <center>
                        <button class="btn btn-success" onclick="setLogo()">لوگو اعمال شود</button>
                    </center>
                </div>

                <div class="clear"></div>
                <center>
                    @using (Html.BeginForm("UploadLogo", "Setting", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input name="UploadImage" type="file" class="hidden" id="FileUpload" onchange="document.getElementById('sub').click()" />
                        <button class="hidden" id="sub"></button>
                    }

                    <div style="width:fit-content">
                        <button class="itemlogo" onclick="document.getElementById('FileUpload').click()">+</button>
                        @{
                            foreach (string filename in Directory.GetFiles(Server.MapPath("~") + @"Files\Picture\Logo", "*.*"))
                            {
                                string a = filename.Replace(Server.MapPath("~"), @"\");
                                <img src="@a" class="itemlogo" onclick="viewimage(this)" />
                            }

                        }
                    </div>
                </center>

                <!-- -->
                <!-- -->
            </div>
        </div>
    </div>


</div>
@section styles{
    <style>
        .itemlogo {
            width: 100px;
            height: 100px;
            float: right;
            margin: 10px;
            border: 1px solid silver;
            border-radius: 5px;
            font-size: 100px;
            font: bold;
            color: deepskyblue;
        }

            .itemlogo:hover {
                border: 4px solid silver;
            }
    </style>
}
@section scripts{
    <script>
        function viewimage(m) {
            document.getElementById("LogoImage").src = m.src

        }





        function setLogo() {
            var temp = document.getElementById("LogoImage").src;
            $.ajax({
                url: "/Setting/SetLogo",
                data: { pathfile: temp },
                type:"Post"
            })
        }
    </script>
}
