@model IEnumerable<Models.Entities.User>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "دنبال شده";
}
<div class="row">
    @foreach (var item in Model)
    {
        @Html.Action("_UserFollow","User",new {item.Id})
    }
</div>
@section Scripts {

}
