@model PagedList.IPagedList<int>
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "مطالب خریداری شده";
}
@section styles{
}
@if (Model.TotalItemCount > 12)
{
    <div class="col-lg-12">
        <div class="card-box">
            <fieldset class="text-center">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, search = ViewBag.Srch }))
            </fieldset>
        </div>
    </div>
}
@foreach (var item in Model)
{
    @Html.Action("_SinglePost", "Post", new { id = item })
}
